
@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
    box-sizing: border-box;
    font-family: Raleway;
}


.cta {
    background: #92bde7;
    background-position: center;
    font-size: 1.1rem;
    padding: 3em;
}


nav ul {
    margin-top: .2rem;
    margin-left: 3em;
    padding: 0;
    list-style: none;
    float: right;

}
nav li{
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: .5em;
    color: #92bde7;

}


footer{
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 5em;
    text-align: left;
    
}