/* This whole css wont make sense cause I copied it from the Home section and altered it to save my time
so some elements are useless here.
                                        - Sakshat Shinde
*/

@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
    font-family: 'Raleway',sans-serif;
    font-size: 1em;
}
header{
    background-color: #80FF00;
}
body{
    margin:0;
    font-family: 'Raleway',sans-serif;
    text-align: center;
}

*img{
    max-width: 45%;
    height: auto;
    margin-top: 0.5rem;
}

.container{
    width:100%;
    max-width: 70em;
    margin: 0 auto;
}

.container2{
  width: 100%;
  margin-left: 1.7em;
}

.clearfix::after,
section::after,
footer::after {
    content: '';
    display: block;
    clear: both;
}

/* Col system
====================> */

[class^=col-] {
    width: 100%;
    margin-top:1em;
}

[class^=col-]:first-child{

    margin-top: 0;
 }

 .col-1{
     width: 33.333334%;
     float: left;
 }

@media(min-width: 40rem){

    [class^=col-] {
    float: left;
    padding: 0 .5em;
    margin-top: 0;
    }

    [class^=col-]:first-child{
    padding-left: 0;
 }

    [class^=col-]:last-child{
    padding-right: 0;
 }

 .col-1{

    width:16.6666%;

 }

 .col-3{

    width: 50%;

 }

}


/* TYPOGRAPHY
======================== */
p{
    margin-top: 0;
    line-height: 1.5;
}

p:last-of-type{
    margin-bottom:0;
}
h1{
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
}

.title{
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
    padding-left: 1.5em;

}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
}

.title-cta {
    margin: 0 0 .5em;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 60rem){
    .title {
        font-size: 3.7rem;
    }

    p{
        font-size:  1.6rem;
        line-height: 1.6;
    }
}

/* BUTTONS */

.button {
    display: inline-block;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

@media (min-width: 60rem){
    .button{
        font-size: 1.5rem;
    }
}

.button-accent {
    color: #fff;
    border-color: #fff;
}

.button-accent:hover,
.button-accent:focus {
    background: #fff;
    color: #232323;
    border-color: #fff;
}

.button-dark {
    color: #232323;
    border-color: #232323;
}

.button-dark:hover,
.button-dark:focus {
    background: #232323;
    color: #00ff6c;
}

.button-small{
    font-size:.7rem;
    font-weight: 700;
}

/* HEADER
======================== */

header {
    position: absolute;
    left: 0;
    right: 1;
    margin: .5rem;
}

nav ul {
    margin-top: .2rem;
    margin-left: 63em;
    padding: 0;
    list-style: none;
    float: right;

}
nav li{
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: .5em;
    color: #FFF;

}

nav a:hover,
nav a:focus {
    color: #00ff6c;
}

@media (min-width: 60rem){
    .logo {
        float:left;
    }
}

/* home-hero
=================== */

.home-hero {
    background-image: url(../assets/partnersheader.png);
    background-size: fill;
    background-position: center;
    background-repeat: 0;
    padding: 10em 0;
    color: #fff;
}

.home-about-textbox {

    background-image: url(http://wallpapercave.com/wp/6fVBDMW.jpg);
    background-position: center;
    background-size: 100%;
    padding: 3em;
    width: 100vw;
    margin-left: 2.5%;
    outline: 2px solid #1DE9B6;
    outline-offset: -2.5em;
    color: #FFF;
    position: relative;

}

.home-about-textbox h1 {
    color: #232323;
    position: absolute;
    top: .75em;
    background: #64FFDA;
    left: 50%;
    trasnfrom: translateX(-50%);
}

@media(min-width: 25rem) {
    h1 {
        font-size: 1.5rem;
    }

.home-about-textbox h1 {
    top: .9em;
    padding: 0 .325em;
}
}

@media(min-width: 60rem) {
    h1 {
        font-size: 2.5rem;
    }

.home-about-textbox h1 {
    top: .4em;
    padding: 0 .6em;

}

}
.home-about-textbox{
    width: 100.5%;
    margin-left: -2em;
    text-align: left;
    box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
    padding: 7em;

}

/* Portfolio */

.portfolio{

    margin: 3em 0 0;

}

.port-item{

    margin: 0;
    position: relative;

}

.port-item img {
    display: block;

}

.port-desc {

    position: absolute;
    z-index: 100;
    bottom: 3em;
    left: 3em;
    right: 3em;
    color:white;
    background: rgba(0,0,0,.75);
    padding-bottom: 1em;
}

.port-desp p{
    margin: 1em;
}
 @media(min-width:37rem){
    .port-item{
        width: 50%;
        float:left;
    }
 }
@media(min-width:60rem){

        .port-item {
            width: 33.3334%;
        overflow: hidden;
        }

        .port-desc {
            transform: translateX(150%);
        }

        .port-item:hover .port-desc {
            transform:translateY(0%);
        }

}




/* CTA (Action)
====================> */

.cta {
    background-image:url(https://images2.alphacoders.com/860/thumb-1920-860481.png);
    background-position: extremeLeft;
    background-size: 100%;
    padding: 5em 0;
    color: #fff;
    
}

/* Footer
====================> */

footer{
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 5em;
    text-align: left;
    
}

/* Descriptions */

.desc{
    background-color: #1DE9B6;
}



/* A property of Sakshat Shinde */
